@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background: rgb(10, 0, 20);
}

*{
    margin: 0;
    padding: 0;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.percent{
    color: rgb(231, 231, 231);
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

.progress-bar{
    width: 406px;
    height: 21px;
    background-color: #111;
    border-radius: 13px;
    padding: 3px;
    box-shadow: border-box;
}

.progress{
    width: 200px;
    height: 15px;
    background-color: #f60d54;
    border-radius: 13px;
}